@import "../../sass/variables";
@import "../../sass/mixins";

:host {
    display: flex;
}

.tweet-list {
    flex-basis: 50%;
    margin-right: 15px;
    padding-left: 0;
    list-style-type: none;

    li {
        @include tweet-item;
        transition: all .2s ease-in-out;

        &:first-child {
            margin-top: 0;
        }

        &:hover {
            transform: scale(1.025,1.025);
        }
    }
}

.drop-target {
    align-items: flex-start;
    background-image: linear-gradient(135deg, transparent 25%, #c3e600 25%, #c3e600 50%, transparent 50%, transparent 75%, #c3e600 75%, #c3e600 100%);
    background-size: 56.57px 56.57px;
    display: flex;
    justify-content: center;
    left: 15px;
    min-height: 160px;
    opacity: 0.4;
    position: absolute;
    right: 0;
    z-index: 1;
}

.app-saved {
    border-left: solid 1px $tweet-list-border-color;
    flex-basis: 50%;
    padding-left: 15px;
    position: relative;
    ul {
        padding-left: 0;
    }
}

.saved-list {
    list-style-type: none;
    min-height: 160px;
    position: relative;
    z-index: 2;

    li {
        @include tweet-item;
        transition: all .2s ease-in-out;
    }
}
