<ul class="tweet-list"
  cdkDropList
  #tweetList="cdkDropList"
  [cdkDropListData]="tweetCache.tweets"
  [cdkDropListConnectedTo]="[savedList]"
  (cdkDropListDropped)="drop($event)">
  <li *ngFor="let tweet of tweetCache.tweets" cdkDrag>
    <tweet-item
      [profileImageUrl]="tweet.user.profileImageUrl"
      [name]="tweet.user.name"
      [handle]="tweet.user.screenName"
      [date]="tweet.createdAt"
      [text]="tweet.text"></tweet-item>
  </li>
</ul>
<div class="app-saved">
  <div class="drop-target" *ngIf="firstDrop">
    <h2 class="drop-target-hint">Drop Here</h2>
  </div>
  <ul class="saved-list"
    cdkDropList
    #savedList="cdkDropList"
    [cdkDropListData]="savedTweets.tweets"
    [cdkDropListConnectedTo]="[tweetList]"
    (cdkDropListEntered)="enter($event)"
    (cdkDropListDropped)="drop($event)">
    <li *ngFor="let tweet of savedTweets.tweets" cdkDrag>
        <tweet-item
          [profileImageUrl]="tweet.user.profileImageUrl"
          [name]="tweet.user.name"
          [handle]="tweet.user.screenName"
          [date]="tweet.createdAt"
          [text]="tweet.text"></tweet-item>
    </li>
  </ul>
</div>
