@import "../../sass/variables";
@import "../../sass/mixins";

:host {
    display: flex;
}

.tweet-list {
    flex-basis: 50%;
    margin-right: 15px;
    padding-left: 0;
    list-style-type: none;

    li {
        @include tweet-item;
        transition: all .2s ease-in-out;

        &:first-child {
            margin-top: 0;
        }

        &:hover {
            transform: scale(1.025,1.025);
        }
    }
}

.app-saved {
    border-left: solid 1px $tweet-list-border-color;
    flex-basis: 50%;
    padding-left: 15px;
    ul {
        padding-left: 0;
    }
}

.saved-list {
    list-style-type: none;
    min-height: 160px;

    li {
        @include tweet-item;
        transition: all .2s ease-in-out;
    }
}
