@import "./variables";

@mixin respond-to($breakpoint) {
    @if $breakpoint == "small" {
        @media (min-width: 769px) {
        @content;
        }
    }

    @else if $breakpoint == "medium" {
        @media (min-width: 992px) {
        @content;
        }
    }

    @else if $breakpoint == "large" {
        @media (min-width: 1200px) {
        @content;
        }
    }
}

@mixin tweet-item {
    background-color: white;
    border-bottom: solid 1px $tweet-bottom-border-color;
    cursor: move;
    list-style: none;
    margin-top: 10px;
    padding-bottom: 10px;
}
