$primary-color: #2d271f;
$primary-color-light: #f5f3f0;
$primary-color-medium: #eae6e1;
$secondary-color: #0067b6;
$tertiary-color: #9cb700;
$tertiary-color-light: #c3e600;

$body-background-color: $primary-color-light;
$page-heading-background-color: $primary-color;
$page-heading-color: $tertiary-color;
$page-bottom-border-color: $secondary-color;
$tweet-subheading-color: $secondary-color;
$tweet-bottom-border-color: $tertiary-color;
$tweet-list-background-color: $primary-color-medium;
$tweet-list-border-color: $tertiary-color;
$search-input-color: $secondary-color;
$loader-color: $secondary-color;
