@import "../sass/variables";
@import "../sass/mixins";

.page-container {
    margin: 0 auto;
    max-width: 992px;
}

.page-title {
    background-color: $page-heading-background-color;
    color: white;
    font-family: 'Fjalla One', sans-serif;
    letter-spacing: 0.05em;
    margin: 0 -15px;
    padding: 0.67em 0 0.67em 20px;

    span {
        color: $page-heading-color;
    }
}

.app-container {
    background-color: $tweet-list-background-color;
    display: flex;
    flex-flow: column wrap;
    margin: 0 -15px;

    @include respond-to(small) {
        flex-flow: row nowrap;
    }
    > div {
        flex: 1;
        min-height: 50vh;
        padding: 0 15px;
    }
}

.app-search {
    border-bottom: solid 12px $page-bottom-border-color;
    margin-top: 10px;
}
