@import "../sass/variables";
@import "../sass/mixins";

.page-container {
    margin: 0 auto;
    max-width: 992px;
}

.page-title {
    font-family: 'Fjalla One', sans-serif;
}

.app-container {
    display: flex;
    flex-flow: column wrap;
    margin: 0 -15px;

    @include respond-to(small) {
        flex-flow: row nowrap;
    }
    > div {
        border: dotted 1px red;
        flex: 1;
        min-height: 50vh;
        padding: 0 15px;
    }
}

.app-search {
    background-color: $tweet-list-background-color;
}
