@import "./sass/mixins";
@import "./sass/variables";

body {
    background-color: $body-background-color;
    font-family: 'Noto Sans', sans-serif;
}

.cdk-drag-preview {
    @include tweet-item;
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
