<section class="search">
  <form
    [formGroup]="searchForm"
    class="search-form"
    matTooltip="{{tooltipText}}"
    matTooltipClass="search-tooltip"
    (ngSubmit)="doSearch(searchForm)">
    <input
      type="search"
      class="search-input"
      #searchfield
      id="search-field"
      placeholder="Search Twitter"
      [formControl]="searchForm.controls['searchterm']">
      <button
        [disabled]="searchForm.invalid"
        type="submit"
        class="search-button"><i class="fa fa-search"></i></button>
  </form>
  <div class="saved-column">
    <h2 class="saved-tweets-title">Saved Tweets</h2>
  </div>
</section>

<div class="loader" *ngIf="loading">
  Loading...
</div>